@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme 主题色 */
/* tailwind.config.js 中的colors引用 */
:root {
  --color-testMark: #EE6B6B;
  --color-pageBg: #0C0C0C;
  --color-accent: #E3FA43;
  --color-text: #F5F5F5;
  --color-text-accent: #000000;
  --color-menuText: #F5F5F5;
  --color-border: #4B5563;
  --color-AC-0: #000000;
  --color-AC-1: #141414;
  --color-AC-2: #161616;
  --color-AC-3: #171717;
  --color-AC-4: #232323;
}

[themeMode="light"] {
  --color-primary: #FFFFFF;
  --color-secondary: #F3F4F6;
  --color-accent: #3B82F6;
  --color-border: #D1D5DB;
}